<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <h1>python flask app </h1>
    <h2>new</h2>
    {% if books == [] %}
        <p>wait for new info</p>
    {% else %}
        
    
    <table border="1">
        <tr>
            <th>arrival_day</th>
            <th>title</th>
            <th>price</th>
        </tr>
        {% for book in books %}
        <tr>
            <td>{{ book.arrival_day }}</td>
            <td>{{ book.title }}</td>
            <td>{{ book.price }}</td>
        </tr> 
        {% endfor %}
        
    </table>
    {% endif %}
    <a href="{{ url_for('form')}}">edit</a>
</body>
</html>